Project/**/MDK/Flash
Project/**/MDK/Listing
Project/**/MDK/Objects
DebugConfig

# Object files
*.o
*.ko
*.o.*
*.uvgui.*
*.bat
*.__i
*.dbgdt
*.tra
*.iex
*.sim
*.pbd
*.browse
*.tmp
*.ewt
*.db
*.__ia
*.dni
*.wsdt
*.pbi
*.bin
*.cout
*.crf
*.d
*.sct
*.htm
*.map
*.axf
*.lnp
*.txt
*.ini
*.Scr
*.lst
*.uvgui*
output
Doc
settings
Debug
SI
Tools
Tool
Release
lib_html
d4d
net_5000

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.hex

# Project files
*.plg
*.dep
*.bak